/* mod_contacto.css */
/* Estilos CSS únicos para el módulo de contacto */
.modulo-contacto {
    display: flex; /* Mostrar como un contenedor flexible */
    flex-direction: row; /* Dirección de los elementos en fila */
    padding: 10px; /* Espaciado de 10 píxeles */
    background-color: #FFFFFF; /* Color de fondo blanco */
    border-radius: 3px; /* Esquinas redondeadas */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra */
    box-sizing: border-box; /* Incluir padding y borde en el tamaño total */
    overflow: hidden; /* Ocultar el desbordamiento */
}

.mod-contacto-columna-1,
.mod-contacto-columna-2 {
    flex: 1; /* Flexibilidad igual a 1 */
    padding: 10px; /* Espaciado de 10 píxeles */
    margin: 5px; /* Margen de 5 píxeles */
    border-radius: 3px; /* Esquinas redondeadas */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra */
    background-color: #FFF; /* Color de fondo blanco */
    box-sizing: border-box; /* Incluir padding y borde en el tamaño total */
    overflow: hidden; /* Ocultar el desbordamiento */
}

.form-container {
    width: 100%; /* Ancho completo del contenedor del formulario */
    box-sizing: border-box; /* Incluir padding y borde en el tamaño total */
    overflow: hidden; /* Ocultar el desbordamiento */
}

.contact-form {
    width: 100%; /* Ancho completo del formulario */
    background-color: #f9f9f9; /* Color de fondo del formulario */
    padding: 20px; /* Espaciado de 20 píxeles */
    border-radius: 5px; /* Esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    box-sizing: border-box; /* Incluir padding y borde en el tamaño total */
    overflow: hidden; /* Ocultar el desbordamiento */
}

.contact-form h2 {
    margin-bottom: 20px; /* Margen inferior de 20 píxeles */
}

.contact-form .form-group {
    margin-bottom: 15px; /* Margen inferior de 15 píxeles */
}

.contact-form .form-group label {
    display: block; /* Mostrar como bloque */
    margin-bottom: 5px; /* Margen inferior de 5 píxeles */
}

#success-message, #error-message {
    margin-top: 20px; /* Margen superior de 20 píxeles */
    font-weight: bold; /* Texto en negrita */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .modulo-contacto {
        flex-direction: column; /* Dirección de los elementos en columna */
    }

    .mod-contacto-columna-1,
    .mod-contacto-columna-2 {
        flex-basis: 100%; /* Ancho completo en dispositivos móviles */
        margin: 0 0 10px 0; /* Margen inferior de 10 píxeles */
    }

    .contact-form .form-control,
    .contact-form .btn {
        width: 100%; /* Ancho completo en dispositivos móviles */
    }
}
